.footer {

}

.footer-contact {
  
}

.footer-contact-item {
  border-radius: 10px;
}

.footer-company {

}

.footer-company-links {

}

.footer-company-links a {
  
}
.footer-copyright {
  color: #ccc;
  text-align: center;
  margin-top: 1rem;
}

